<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Pet Data</title>
</head>

<body>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <!-- , shrink-to-fit = no -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Bootstrap 4 Example</title>
    </head>

    <body>
        <div class="container">
            <form id="addform" name="form">  
                <h2>Add Pet</h2>

                <!-- "method="post" action="/form" enctype = "multipart/form-data -->
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="name" name="name">
                </div>
                <div class="form-group">
                    <label for="inpuType">Type</label>
                    <input type="text" class="form-control" id="type" placeholder="type" name="type" >
                </div>

                

                <div class="form-group">
                    <label for="inputBreed">Breed</label>
                    <input type="text" class="form-control" id="breed" placeholder="breed" name="breed" >
                </div>
                <div class="form-group">
                    <label for="inputAge">Age</label>
                    <input type="text" class="form-control" id="age" placeholder="age" name="age" >
                </div>
                
                <center>
                    <button type="submit" class="btn btn-primary ">Add</button>
                    <!-- <a type="submit" class="btn btn-secondary" href="/pet"><i class="fa fa-list-alt"></i> Add</a> -->
                    <a class="btn btn-secondary" href="/petList"><i class="fa fa-list-alt"></i> View All</a>
                </center>
        </div>

        </form>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
            </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
            </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        

        <script>
            function getFormData($form) {
                var unindexed_array = $form.serializeArray();
                var indexed_array = {};

                $.map(unindexed_array, function (n, i) {
                    indexed_array[n["name"]] = n["value"];
                });
                return JSON.stringify(indexed_array);
            }
            var addform = $("#addform");
            addform.on("submit", addaboutUssubmitHandler);

            function addaboutUssubmitHandler(e) {
                e.preventDefault();

                // PREPARE FORM DATA 
                var formData = getFormData(addform);

                // console.log(formData

                // DO POST 
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/petList/addPet",
                    data: formData,
                    
                      })
                    .done((res) => {
                        console.log(res);
                        
                        window.location.reload();
                        console.log("form saved");
                    })
                    .fail(function (xhr, status, error) {
                        console.log("failed");
                    });
            }
        </script>
        
    </body>

</html>